button {
  color: white;
}
#add-item {
  background-color: green;
}
#remove-item {
  background-color: red;
}
#modify-item {
  background-color: blue;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#val-msg {
  color: red;
}
